on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Build
        env:
          RUSTFLAGS: "-C target-cpu=x86-64-v2 -C target-feature=+crt-static"
        run: cargo build -r
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: release
          path: target/release/msfs_custom_airport_patch.exe
          compression-level: 9
